stage-element {
}

@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  display: block;
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}

#dragged {
  user-select: none;
  visibility: hidden;
  position: absolute;
}

#dragtarget {
  z-index: 5;
}
